body {
    background-color: white;
    overflow: hidden;
}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
}

#leaderboard {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}